body {
  background-color: rgb(100,100,100);
}
.menu {
  background-color: rgb(100,100,100);
  padding: 10px;
}

.button {
  padding: 11px;
  color: rgb(250,250,250);
  border-right: 1px solid rgb(200,200,200);
}

input {
  background-color: rgb(100,100,100);
  color: rgb(250,250,250);
}

textarea {
  height: 100%;
  background-color: rgb(150,150,150);
}
